{{> layout/header}}

<div class="wrap_banner">
    <div class="info_banner">
        <strong class="title_banner">모놀리식 쇼핑입니다!</strong>
        <p class="desc_banner">
            모놀리식 구조로 구성된 쇼핑을 직접 실행하여<br>
            동작되는 것을 확인해주세요!
        </p>
    </div>
    <div class="login_banner">
        <strong class="title_banner">Monolith-Shop</strong>
        <input type="text" id="memberId"/>
        <input type="text" id="password"/>
        <button>로그인</button>
        <button>회원가입</button>
    </div>
</div>

{{> layout/footer}}